
    .sbg {
        background-image: url("/images/create.jpg");
        height: 100vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        }
    